<div class="container px-5 w-50">
  <h2 class="ml-5 my-5">Add a new book</h2>
  <%= simple_form_for @book do |f| %>
    <%= f.input :title %>
    <%= f.input :author %>
    <%= f.input :description %>
    <%= f.input :category %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
